# Node / Expo
node_modules/
npm-degub.log
yarn-error.log
**/.expo/


# Build artifacts
dist/
**/build/
*.zip

# key
*.env

# macOS
.DS_Store

# KiCad temporary files
*_autosave-*
~*.kicad_*.lck
#auto_saved_files#
*.kicad_prl
fp-info-cache
*-backups/
